.new-mainpagefinal-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.new-mainpagefinal-new-mainpagefinal {
  width: 100%;
  height: 6734px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-divwlayoutgrid {
  gap: 202px;
  top: 1192px;
  left: 278px;
  width: 1381px;
  height: 552px;
  display: flex;
  padding: 0 0 0 76.5px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-divwnode32576b76b84b2c9eea60514f1f063d2534910b95 {
  gap: 19.99999237060547px;
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divnumbersverticalflex {
  gap: 31px;
  height: 492px;
  display: flex;
  padding: 0 1px 16px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.new-mainpagefinal-divnumbers {
  width: 63.130001068115234px;
  display: flex;
  padding: 0 0.13000106811523438px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 110px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divnumbers1 {
  width: 63.130001068115234px;
  display: flex;
  padding: 0 0.13000106811523438px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text001 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 110px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divnumbers2 {
  width: 63.130001068115234px;
  display: flex;
  padding: 0 0.13000106811523438px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 110px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divnumbers3 {
  width: 63.130001068115234px;
  display: flex;
  padding: 0 0.13000106811523438px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text003 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 110px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divwnode2c5ba18ac4986a4384d6be3aae9da75334910b95 {
  height: 443px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-divverticalflexservices {
  gap: 9px;
  height: 154px;
  display: flex;
  padding: 82px 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-div {
  width: 134.8800048828125px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.new-mainpagefinal-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div10pxtopmargin {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 28.8800048828125px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.new-mainpagefinal-text006 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text008 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divverticalflexservices1 {
  gap: 2px;
  height: 113px;
  display: flex;
  padding: 82px 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  
}
.new-mainpagefinal-div1 {
  width: 171px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.new-mainpagefinal-text010 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div10pxtopmargin1 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p1 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 28.8800048828125px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.new-mainpagefinal-text012 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text014 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divverticalflexservices2 {
  gap: 9px;
  height: 96px;
  display: flex;
  padding: 82px 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-div2 {
  width: 125.97000122070312px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text016 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div10pxtopmargin2 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p2 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 28.8800048828125px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.new-mainpagefinal-text018 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text020 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divverticalflexservices3 {
  gap: 9px;
  height: 133px;
  display: flex;
  padding: 82px 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-div3 {
  width: 125.97000122070312px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text022 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div10pxtopmargin3 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p3 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 28.8800048828125px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.new-mainpagefinal-text024 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text026 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divbgimagediv {
  width: 710px;
  height: 492px;
}
.new-mainpagefinal-div10pxtopmargin4 {
  top: 1683px;
  left: 1344px;
  width: 317px;
  display: flex;
  padding: 0 0 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p4 {
  width: 316.8800048828125px;
  display: flex;
  padding: 0 28.8800048828125px 1px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.new-mainpagefinal-text028 {
  color: rgba(77, 77, 77, 1);
  width: 314px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text030 {
  color: rgba(77, 77, 77, 1);
  width: 317px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-frame4 {
  top: -40px;
  left: 0px;
  width: 1920px;
  height: 1124px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-component2 {
  top: 44px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-b1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-f2a773645473091 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.new-mainpagefinal-overall21 {
  top: 163px;
  left: 639px;
  width: 1354px;
  height: 762px;
  position: absolute;
}
.new-mainpagefinal-text032 {
  top: 382px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 85px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text034 {
  top: 466px;
  left: 132px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div60pxtopmargindiv {
  top: 523px;
  left: -86px;
  width: 648px;
  display: flex;
  padding: 0 230.08999633789062px 0 230.0800018310547px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link {
  display: flex;
  padding: 14px 40.83000183105469px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-text036 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-d1 {
  top: 0px;
  left: 1920px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-dbg1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.new-mainpagefinal-d4 {
  top: 0px;
  left: 3840px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-dbg11 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.new-mainpagefinal-d3 {
  top: 0px;
  left: 5760px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-dbg12 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.new-mainpagefinal-d5 {
  top: 0px;
  left: 7680px;
  width: 1853px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-f2a773645473093 {
  top: 0px;
  left: 0px;
  width: 1853px;
  height: 1080px;
  position: absolute;
}
.new-mainpagefinal-overall23 {
  top: 0px;
  left: 126px;
  width: 1700px;
  height: 956px;
  position: absolute;
}
.new-mainpagefinal-text038 {
  top: 224px;
  left: 1212px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: right;
  font-family: Roboto;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-banner {
  top: 50px;
  left: 0px;
  width: 1920px;
  height: 92px;
  display: flex;
  padding: 19px 383px 10px 324px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(43, 70, 99, 0);
}
.new-mainpagefinal-divnavcontainer {
  gap: 1062px;
  width: 1440px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-linkhome {
  width: 98px;
  display: flex;
  padding: 19px 0.6399993896484375px 21px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text043 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  font-style: Black;
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-navigation {
  width: 217px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link01 {
  display: flex;
  padding: 20px 19.529998779296875px 20px 20px;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-text045 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link02 {
  display: flex;
  padding: 20px 19.339996337890625px 20px 20px;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-frame2 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-text047 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link03 {
  display: flex;
  padding: 20px 19.300003051757812px 20px 20px;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-text049 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link04 {
  display: flex;
  padding: 20px 19.62999725341797px 20px 20px;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-text051 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divsection {
  top: 2951px;
  left: -2px;
  width: 1922px;
  height: 259px;
  display: flex;
  padding: 83px 360px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-divbigtext {
  width: 1200px;
  display: flex;
  padding: 0 41.70000076293945px 1.44000244140625px 43.29999923706055px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text053 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 115.19999694824219px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 126.72000122070312px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-list-listitem {
  top: 3374px;
  left: 0px;
  width: 1920px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-imagedsf08711 {
  width: 1125px;
  height: 750px;
}
.new-mainpagefinal-divflexchildtext {
  width: 768px;
  display: flex;
  padding: 40px 60px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-divtextdivbox {
  gap: 60.00001525878906px;
  height: 532px;
  display: flex;
  padding: 189.50999450683594px 0 189.5299835205078px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-divtitlecategorydiv {
  width: 648px;
  height: 92px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divcategorydivbox {
  top: -17px;
  left: 294.279296875px;
  width: 57px;
  display: flex;
  padding: 0 0.4199981689453125px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text058 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link05 {
  top: 13px;
  left: 0px;
  width: 648px;
  display: flex;
  padding: 0 0 9.160003662109375px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-heading2 {
  width: 648px;
  display: flex;
  padding: 0 17.479999542236328px 0 16.520000457763672px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text060 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 52.79999923706055px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 58.08000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div40pxtopmargin {
  width: 648px;
  height: 77px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p5 {
  width: 648px;
  display: flex;
  padding: 0 10px 1px 11px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text065 {
  color: rgba(77, 77, 77, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div60pxtopmargindiv1 {
  width: 648px;
  display: flex;
  padding: 0 230.08999633789062px 0 230.0800018310547px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link06 {
  display: flex;
  padding: 14px 40.83000183105469px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-text074 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-list-listitem1 {
  top: 4124px;
  left: 0px;
  width: 1920px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divflexchildtext1 {
  width: 768px;
  display: flex;
  padding: 40px 60px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-divtextdivbox1 {
  gap: 60.00001525878906px;
  height: 719px;
  display: flex;
  padding: 189.50999450683594px 0 189.5299835205078px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-divtitlecategorydiv1 {
  width: 648px;
  height: 118px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divcategorydivbox1 {
  top: -1px;
  left: 289.140625px;
  width: 68px;
  display: flex;
  padding: 0 0.6999969482421875px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-frame5 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-mainpagefinal-text076 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link07 {
  top: 26.490234375px;
  left: 0px;
  width: 648px;
  height: 145px;
  display: flex;
  padding: 0 0 9.160003662109375px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-heading21 {
  width: 648px;
  display: flex;
  padding: 0 54.09000015258789px 0 54.90999984741211px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text078 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 52.79999923706055px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 58.08000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text083 {
  color: rgba(77, 77, 77, 1);
  width: 637px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div60pxtopmargindiv2 {
  width: 648px;
  height: 45px;
  display: flex;
  padding: 0 230.08999633789062px 0 230.0800018310547px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link08 {
  display: flex;
  padding: 14px 40.83000183105469px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-boardgamecover1 {
  width: 1236px;
  height: 750px;
}
.new-mainpagefinal-list-listitem2 {
  top: 5714px;
  left: 0px;
  width: 1920px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divflexchildtext2 {
  width: 768px;
  display: flex;
  padding: 40px 60px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-divtextdivbox2 {
  gap: 60.00001525878906px;
  height: 762px;
  display: flex;
  padding: 189.50999450683594px 0 189.5299835205078px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-divtitlecategorydiv2 {
  width: 648px;
  height: 111px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divcategorydivbox2 {
  top: -7px;
  left: 294.279296875px;
  width: 57px;
  display: flex;
  padding: 0 0.4199981689453125px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text090 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link09 {
  top: 23.489990234375px;
  left: -0.5px;
  width: 648px;
  height: 132px;
  display: flex;
  padding: 0 0 9.160003662109375px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-heading22 {
  width: 648px;
  display: flex;
  padding: 0 26.530000686645508px 0 25.469999313354492px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text092 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 52.79999923706055px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 58.08000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-text097 {
  color: rgba(77, 77, 77, 1);
  width: 657px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div60pxtopmargindiv3 {
  width: 648px;
  display: flex;
  padding: 0 230.08999633789062px 0 230.0800018310547px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link10 {
  display: flex;
  padding: 14px 40.83000183105469px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-text099 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-image1 {
  width: 1152px;
  height: 838px;
}
.new-mainpagefinal-component1 {
  top: 1871px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-frame6 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-lunbo {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherosection {
  top: -54px;
  left: 0px;
  width: 1920px;
  height: 1134px;
  display: flex;
  padding: 57px 360px 104px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-div75vhheightdiv {
  width: 1200px;
  height: 663px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-div4 {
  top: 97px;
  left: 35px;
  width: 1130px;
  height: 330px;
  display: flex;
  padding: 0 0 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-heading1 {
  width: 1130px;
  display: flex;
  padding: 0 104.4800033569336px 0.160003662109375px 103.5199966430664px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text101 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 115.19999694824219px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 126.72000122070312px;
  font-stretch: normal;
  text-decoration: none;
  z-index: 1;
}
.new-mainpagefinal-text108 {
  top: 527px;
  left: 390px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
  z-index: 1;
}
.new-mainpagefinal-divherobuttondiv {
  top: 623.51953125px;
  left: 518.609375px;
  width: 163px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  z-index: 1;
}
.new-mainpagefinal-link11 {
  display: flex;
  padding: 14px 40.779998779296875px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-text113 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-d-w-bun-ios41 {
  top: 504px;
  left: 158px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-d-w-bun-ios4101 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  opacity: 1;
  position: absolute;
}
.new-mainpagefinal-frame10 {
  top: 0px;
  left: 1960px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-lunbo1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherosection1 {
  top: -54px;
  left: 0px;
  width: 1920px;
  height: 1131px;
  display: flex;
  padding: 57px 360px 104px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-div75vhheightdiv1 {
  width: 1200px;
  height: 743px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherobuttondiv1 {
  top: 708.3195190429688px;
  left: 518.609375px;
  width: 163px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-d-w-bun-ios4102 {
  top: 509px;
  left: 158px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-d-w-bun-ios4103 {
  top: 511px;
  left: 1794px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-frame11 {
  top: 0px;
  left: 3920px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-lunbo2 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherosection2 {
  top: -54px;
  left: 0px;
  width: 1920px;
  height: 1131px;
  display: flex;
  padding: 57px 360px 104px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-div75vhheightdiv2 {
  width: 1200px;
  height: 743px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherobuttondiv2 {
  top: 708.3195190429688px;
  left: 518.609375px;
  width: 163px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-d-w-bun-ios4104 {
  top: 509px;
  left: 158px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-d-w-bun-ios4105 {
  top: 511px;
  left: 1794px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-frame13 {
  top: 0px;
  left: 7840px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-lunbo3 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherosection3 {
  top: -54px;
  left: 0px;
  width: 1920px;
  height: 1131px;
  display: flex;
  padding: 57px 360px 104px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-div75vhheightdiv3 {
  width: 1200px;
  height: 743px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherobuttondiv3 {
  top: 708.3195190429688px;
  left: 518.609375px;
  width: 163px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-d-w-bun-ios4106 {
  top: 509px;
  left: 158px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-d-w-bun-ios4107 {
  top: 511px;
  left: 1794px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-frame12 {
  top: 0px;
  left: 5880px;
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-lunbo4 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherosection4 {
  top: -54px;
  left: 0px;
  width: 1920px;
  height: 1131px;
  display: flex;
  padding: 57px 360px 104px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-div75vhheightdiv4 {
  width: 1200px;
  height: 743px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divherobuttondiv4 {
  top: 708.3195190429688px;
  left: 518.609375px;
  width: 163px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-d-w-bun-ios4108 {
  top: 509px;
  left: 158px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-d-w-bun-ios4109 {
  top: 511px;
  left: 1794px;
  width: 96px;
  height: 104px;
  opacity: 0.80;
  position: absolute;
}
.new-mainpagefinal-list-listitem3 {
  top: 4964px;
  left: 0px;
  width: 1920px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-imagedsf087111 {
  width: 1125px;
  height: 750px;
}
.new-mainpagefinal-divflexchildtext3 {
  width: 768px;
  display: flex;
  padding: 40px 60px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.new-mainpagefinal-divtextdivbox3 {
  gap: 60.00001525878906px;
  height: 692px;
  display: flex;
  padding: 189.50999450683594px 0 189.5299835205078px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.new-mainpagefinal-divtitlecategorydiv3 {
  width: 648px;
  height: 107px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-divcategorydivbox3 {
  top: -19px;
  left: 294.2799987792969px;
  width: 57px;
  display: flex;
  padding: 0 0.4199981689453125px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text115 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-link12 {
  top: 21px;
  left: 0px;
  width: 648px;
  display: flex;
  padding: 0 0 9.160003662109375px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-heading23 {
  width: 648px;
  display: flex;
  padding: 0 17.479999542236328px 0 16.520000457763672px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text117 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 52.79999923706055px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 58.08000183105469px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div40pxtopmargin1 {
  width: 648px;
  display: flex;
  padding: 0 0 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-mainpagefinal-p6 {
  width: 648px;
  display: flex;
  padding: 0 10px 1px 11px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text122 {
  color: rgba(77, 77, 77, 1);
  width: 657px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-div60pxtopmargindiv4 {
  width: 648px;
  display: flex;
  padding: 0 230.08999633789062px 0 230.0800018310547px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-link13 {
  display: flex;
  padding: 14px 40.83000183105469px 13.799999237060547px 41px;
  align-items: flex-start;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-text124 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.new-mainpagefinal-divsection1 {
  top: 2944px;
  left: 0px;
  width: 1920px;
  display: flex;
  padding: 83px 360px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.new-mainpagefinal-divbigtext1 {
  width: 1200px;
  display: flex;
  padding: 0 41.70000076293945px 1.44000244140625px 43.29999923706055px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.new-mainpagefinal-text126 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 115.19999694824219px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 126.72000122070312px;
  font-stretch: normal;
  text-decoration: none;
}
